<html>
  <head>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/2.3.0/nunjucks.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@^3.1.1/dist/aframe-template-component.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/diarmidmackenzie/aframe-examples@latest/components/mouse-manipulation.min.js"></script>
    <script src="../../src/instanced-mesh.js"></script>
    <script src="../coloring-blocks/framed-block.js"></script>
    <script src="./block-stack.js"></script>
    <link rel="stylesheet" href="../styles.css">
  </head>
  <body>

    <div class="text-overlay" style="bottom: 10px; left: 10px; top: auto; width: 30%;">
      <p>Re-work of coloring-blocks example to show how HTML templating (via aframe-template-component)
        can be used with aframe-instanced-mesh.</p>
      <p>Pick colors from the palette and left-click to color.  Right click to delete blocks.</p>
      <p>To rotate the blocks, hold down left / middle mouse buttons, and move the mouse.</p>
      <p>Happy sculpting & coloring!</p>
    </div>
    <a class="code-link"
      target="_blank"
      href="https://github.com/diarmidmackenzie/instanced-mesh/blob/main/examples/templating/index.html">
      view code
    </a>

    <a-scene background="color: #88a"
             click-listener
             stats
             renderer="colorManagement:true"
             orbit-controls>
      <a-assets>
        <script id="palette-blocks" type="text/x-nunjucks-template">
          {% set colors = [
            "#9f5f5f", "#bf3f3f", "#df1f1f", "#ff0000",
            "#9f7f5f", "#bf7f3f", "#df7f1f", "#ff7f00",
            "#9f9f5f", "#bfbf3f", "#dfdf1f", "#feff00",
            "#7f9f5f", "#7fbf3f", "#7fdf1f", "#7fff00",
            "#5f9f5f", "#3fbf3f", "#1fdf1f", "#00ff00",
            "#5f9f7f", "#3fbf7f", "#1fdf7f", "#00ff7f",
            "#5f9f9f", "#3fbfbf", "#1fdfdf", "#00feff",
            "#5f7f9f", "#3f7fbf", "#1f7fdf", "#007fff",
            "#5f5f9f", "#3f3fbf", "#1f1fdf", "#0000ff",
            "#7f5f9f", "#7f3fbf", "#7f1fdf", "#7f00ff",
            "#9f5f9f", "#bf3fbf", "#df1fdf", "#ff00fe",
            "#9f5f7f", "#bf3f7f", "#df1f7f", "#ff007f"
            ]
           %}
          {% for x in range(0, 12) %}
            {% for y in range(0, 4) %}
              <a-entity id="palette-{{ x }}-{{ y }}"
                        position = "{{ x - 12 / 2 }} {{ y - 4 / 2 }} 0"
                        instanced-mesh-member="mesh:#palette-mesh; colors: {{ colors[x * 4 + y]}}">
                <a-box visible="false" palette-events>
                </a-box>
              </a-entity>
            {% endfor %}
          {% endfor %}
        </script> 

        <script id="blocks" type="text/x-nunjucks-template">
          {% for x in range(0, 10) %}
            {% for y in range(0, 10) %}
              {% for z in range(0, 10) %}
                <a-entity id="block-{{ x }}-{{ y }}-{{ z }}"
                          position = "{{ x - 10 / 2 }} {{ y - 10 / 2 }} {{ z - 10 / 2 }}"
                          instanced-mesh-member="mesh:#block-mesh">
                  <a-box visible="false" block-events>
                  </a-box>
                </a-entity>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </script> 
      </a-assets>

      <a-entity cursor="rayOrigin: mouse; fuse: false" raycaster="objects: [block-events], [palette-events]">
      </a-entity>

      <a-entity id="rig">
        <a-entity id="camera" camera position="0 1.6 0">
        </a-entity>
      </a-entity>

      <!-- This example uses two separate instanced meshes for the palette and the blocks
           The reason for this is to enable rotation of the blocks using mouse-object-control
           This could be achieved using a single mesh using "updateMode: auto"
           but that would mean every block matrix being updated every frame, which would have a significant 
           performance hit.
           This example uses the framnmed-block-vx component, which uses vertex coloring to allow the block to
           be rendered with a single draw call.
           So each mesh uses 1 draw call - 2 in total for the scene-->
      <a-entity id="palette" scale="0.4 0.4 0.4" position="0 3.5 -4">
        <a-entity id="palette-mesh"
                  framed-block-vx="facecolor: white; framecolor: black; height:1;width:1;depth:1;frame:0.1"
                  position = "0 0 0"
                  instanced-mesh="capacity:48; drainColor: true">
          <a-entity template="src: #palette-blocks"></a-entity>
        </a-entity>
      </a-entity>

      <a-entity mouse-object-control scale="0.2 0.2 0.2" position="0 0.5 -4">  
        <a-entity id="block-mesh"
                  framed-block-vx="facecolor: white; framecolor: black; height:1;width:1;depth:1;frame:0.1"
                  position = "0 0 0"
                  instanced-mesh="capacity:1000; drainColor: true">
          <a-entity template="src: #blocks"></a-entity>
        </a-entity>
      </a-entity>
    </a-scene>
  </body>
</html>
